<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Dreaming of Tech</h1>

      <p>
        <a href="/blog/new" class="button primary big">Add New Post</a>
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 col-sm-12">
      {{#each campgrounds}}

      <div class="card">
        <img src="{{this.image}}" alt="Image - {{this.title}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">
            {{this.title}} - {{this.shortDate}}
          </h5>
          <p class="card-text">Post Body</p>
          <a href="/blog/{{this._id}}" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <hr> {{/each}}

    </div>
    <div class="col-md-3 blogSideBar">
      <a href="#">Link 1</a>
      <a href="#">Link 1</a>
      <a href="#">Link 1</a>
    </div>
  </div>
</div>