<div class="container">
  <div class="row">
    {{!--
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      map
    </div> --}}
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="responsive" src="{{post.image}}" alt="">
        <div class="caption">
          {{!--
          <h4 class="pull-right">£9 per night</h4> --}}
          <h4>
            <a href="#"></a>{{post.title}}</h4>
          <p>{{{post.post}}}</p>
          <p>
            <em>Submitted By {{post.author.username}}</em>
          </p>
          <a href="/blog/{{post._id}}/edit" class="btn btn-warning">Edit</a>
          <form id="delete-form" action="/blog/{{post._id}}?_method=DELETE" method="post">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>

      </div>
      <div class="well">
        <div>
          <p>
            <a href="/blog/{{post._id}}/comments/new" class="btn btn-success">Add Comment</a>
          </p>
          <hr>
        </div>
        {{#each post.comments}}
        <div class="row">
          <div class="col-md-12">
            <strong>{{this.author.username}}</strong>
            <span class="pull-right">10 Days Ago</span>
            <p>{{this.text}}</p>
          </div>
        </div>

        {{/each}}
      </div>



    </div>
  </div>

</div>
</div>